.product_list {
    @apply grid 2xl:grid-cols-7 xl:grid-cols-4 lg:grid-cols-3 md:grid-cols-2 grid-cols-1 gap-[20px] p-[20px] max-h-[calc(100vh-102px)] overflow-y-auto;
}
/* scrolling bar design */
.product_list::-webkit-scrollbar {
    width: 7px; 
}

.product_list::-webkit-scrollbar-track {
    background: transparent; 
    border-radius: 35px;
}

.product_list::-webkit-scrollbar-thumb {
    background: #E9EAEB;
    border-radius: 10px;
}